{
    "presets": [
        [
            "es2015",
            {
                "modules": false
            }
        ]
    ],
    "plugins": [
        "external-helpers"
    ],
    "ignore": [
        "node_modules/**"
    ],
    "env": {
        "test": {
            "plugins": [ "istanbul" ]
        }
    }
}
